/* section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 50%;
    height: 50%
}

h1 {
    font: size 40px;
    border: 1px solid black;
    line-height: 200%;
} */

html {
    font-size: 30px;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

article {
    font-size: 30px;
}

#ems p {
    font-size: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems {
    font-size: 15px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: .5em;
    background-color: #2a9d8f;
    color: white;
}

#ems ul {
    1.7 em;
}

#rems h2 {
    font-size: 3rems;
}

#rems h3 {
    font-size: 2rems;
}

#rems ul {
    font-size: 1.5rems;
}